
body { background: light !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

#about {
  margin-top: 3rem;
}
#banner {
  border-bottom: solid;
  padding: 30px;
}
.caption {
  background-color: #252a34;
  padding: 20px;
  margin-bottom: 20px;
  border-color: #252a34;
  border-style: solid;
  color: white;

}
.list {

  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}

h4 {
  background-color: pink;
}
