
body { background: light !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

#about {
  margin-top: 3rem;
}
#banner {
  background-color:#252a34;
  color:white;
  border-bottom: solid;
  padding: 30px;
}
#projects {
  padding-top: 30px;
}
.title {
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.caption {
  background-color: #252a34;
  padding: 20px;
  margin-bottom: 20px;
  border-color: #252a34;
  border-style: solid;
  color: white;
}
.list {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}
#footer {
  background-color: #252a34;
  padding: 30px;

}
.ending{
  background-color: #252a34;
  color: white;

}
