
body { background: light !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
#navigation {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,45,179,1) 39%, rgba(0,212,255,1) 100%);
}
#about {
  margin-top: 3rem;
}
#banner {
  background-color:#252a34;
  color:white;
  border-bottom: solid;
  padding: 30px;
}
#projects {
  padding-top: 30px;

}

.title {
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.caption {
  background-color: #252a34;
  padding: 20px;
  margin-bottom: 20px;
  border-color: #252a34;
  border-style: solid;
  color: white;
}
.list {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
}
#footer {
  background-color: #252a34;
  padding: 30px;

}
.ending{
  background-color: #252a34;
  color: white;
}

#kocho-tutorials {
  background-color: pink;
  padding: 30px;
}
